.page {
    height: 100%;
    padding: 1rem;
    padding-left: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

.h1 {
    text-decoration: none;
    padding-bottom: 1rem;
}

.close {
    right: 1rem;
    font-size: 2rem;
    position: absolute;
}

.close:hover {
    opacity: .5;
}