.page {
  color: rgb(166, 166, 174);
  height: 100%;
  overflow: scroll;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
}

.h1 {
  padding-bottom: 1rem;
  text-decoration: none;
  /* Scale the font size so that it fits on most screens but doesn't grow without bound */
  font-size: min(calc(1em + 1.75vw), 2.5rem);
}

.close_container {
  display: flex;
  justify-content: flex-end;
}

.close_button {
  font-size: 2rem;
}

.close_button:hover {
  opacity: 0.5;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: white;
}

.icon {
  border: 2px solid black;
  border-radius: 3rem;
  margin-top: -1rem;
}

.header {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
