.basic.tree {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .basic .tree-node,
  .basic .tree-node-group {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .basic .tree-branch-wrapper,
  .basic .tree-node__leaf {
    outline: none;
  }

  .basic .tree-node--focused {
    font-weight: bold;
    display: block;
  }
  
  .basic .tree-node--selected {
    /* outline-color: rgb(77, 144, 254);
    outline-style: auto;
    outline-width: 2px; */
    display: block;
    color: yellow;
  }
  
  .basic .tree-node__branch {
    display: block;
    text-decoration: underline;
    padding: 0;
  }

  .basic .tree-node:hover {
    background-color: slateblue;
  }
  
  .basic .tree-node {
    cursor: pointer;
  }