.sidebar.tree {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .tree-node:focus {
  font-weight: bold;
}

.sidebar .tree-node,
.sidebar .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .tree-branch-wrapper,
.sidebar .tree-node__leaf {
  outline: none;
}

.sidebar .tree-node--focused {
  display: block;
  font-weight: bold;
}

.sidebar .tree-node--selected {
  /* outline-color: rgb(77, 144, 254);
    outline-style: auto;
    outline-width: 2px; */
  color: yellow;
  display: block;
}

.sidebar .tree-node__branch {
  display: block;
  padding: 0;
  text-decoration: underline;
}

.sidebar .tree-node:hover {
  background-color: rgb(43, 54, 61);
}

.sidebar .tree-node {
  cursor: pointer;
}
